<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webpage2</title>
    <link rel="stylesheet" type="text/css" href="{% static 'TutorialPage/web2.css' %}">

</head>
<body>
   
    <div class="cover">
      <!-- <h1>TITLE</h1> -->
      <div class="box">
        <img src="STEP1_1.jpg" >
        <h2 class="new">STEP:1</h2>
        <p>Click on "Manual Creation"  Button to create crossword puzzle manually .</p>
    </div>
        <div class="box">
            <img src="STEP1_2.jpg" >
            <h2 class="new">STEP:2</h2>
            <p>Enter Title and Description of the crossword Puzzle .After click on "Next" Button.</p>
        </div>
        <div class="box">
            <img src="STEP2_2.jpg" >
            <h2 class="new">STEP:3</h2>
            <p>Enter the number of Rows and Columns as per you requirments of the grid.After Click on "Next" Button.</p>
        </div>
        <div class="box">
            <img src="STEP3_2.jpg" >
            <h2 class="new">STEP:4</h2>
            <p>Now you have to Put all the character in the grid and Click on the "Next" button.</p>
        </div>
       
        <div class="box">
            <img src="STEP4_2.jpg" >
            <h2 class="new">STEP:5</h2>
            <p>Active Character shows the current Selected Character on Grid.</p>
        </div>
        <div class="box">
            <img src="STEP5_2.jpg" >
            <h2 class="new">STEP:6</h2>
            <p>Add  All the clues in Horizontal and vertical description boxes.After that clicking on "Save" button. Manually Grid crossword puzzle will created.</p>
        </div>
            <button class="btn5"><a  style="text-decoration:none" href="webpage1.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>

           

    </div>
</body>
</html>