<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webpage3</title>
    <link rel="stylesheet" type="text/css" href="web3.css">

</head>
<body>
   
    <div class="cover">

        <div class="box">
            <img src="STEP1_3.jpg" >
            <h2 class="new">STEP:1</h2>
            <p>You can see the Crossword Puzzle on Screen with Details Author,Description,User rating etc.Click on "Solve" button to solve that crossword puzzle.
            </p>
        </div>
        <div class="box">
            <img src="STEP2_3.jpg" >
            <h2 class="new">STEP:2</h2>
            <p>Now to start solve crossword puzzle click on Start Button.After clicking on start Timer will start .You can see the Attempt for This crossword puzzle.</p>
        </div>
        <!-- <div class="box">
            <img src="STEP3_3.jpg" >
            <h2 class="new">STEP:3</h2>
            <p></p>
        </div> -->
        <div class="box">
            <img src="STEP4_3.jpg" >
            <h2 class="new">STEP:3</h2>
            <p>You have to fill words as per Horizontal clues and Vertical Clues.</p>
        </div>
        <div class="box">
            <img src="STEP5_3.jpg" >
            <h2 class="new">STEP:4</h2>
            <p>If you entered wrong it will show the message that your answer is worng.Now you can enter word again.After Entered all  correct words press on the Submit Button.</p>
        </div>
        <div class="box">
            <img src="STEP6_3.jpg" >
            <h2 class="new">STEP:5</h2>
            <p>After Solving Crossword you can rate the puzzle on basis 1 to 5 .After click on Submit Rating and Press on "Home" button to redirect to Homepage.</p>
        </div>
        <button class="btn5"><a  style="text-decoration:none" href="webpage1.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>

    </div>
    

</body>
</html>