body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #007ACC;
	color: #FFFFFF;
	padding: 20px;
}

nav {
	background-color: #CCCCCC;
	padding: 10px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #333333;
	text-decoration: none;
}

nav a:hover {
	color: #007ACC;
}

section {
	padding: 20px;
}

footer {
	background-color: #CCCCCC;
	padding: 10px;
	text-align: center;
}

footer p {
	margin: 0;
	padding: 0;
}

.profile img {
	display: block;
	margin: 0 auto;
}