.creation_body{
    /*background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);*/
    /*background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");*/
    background-color: #c2e9fb;
    /*border: #003e8c;*/
}

.verticalLine{
    border-left: 5px solid #01285e;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 15%;
}

.crosswordCreateInputLeft{
    background-color: transparent;
    height: 10%;
    width: 49.8%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.StepsRoadMap{
    position: absolute;
    top:0;
    width: 50%;
    left: 0;
    height: 15%;
    /*margin-top: 5px;*/
    /*margin-bottom: 10px;*/
    background-color: #01285e;
    /*border: 1px      solid #003e8c;*/
    /*vertical-align: top;*/
    display: flex;
}

.horizontalLine{
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: #ffffff;
    top: 50%;
    border-radius: 20px;
}

#RoadMapBackBtn{
    position: fixed;
    /*top: -50px;*/
    top: 10%;
    left: 0;
    width: 70px;
    height: 40px;
    background-color: #01285e;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    cursor: pointer;
    margin-top: 50px;
    z-index: 1;
}

#horizontalLineLeftDiff{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #01285e;
    top: 15%;
    left: 0;
}

.LeftInputSuperMainDivStep4{
    position: absolute;
    top: 25%;
    left: 5%;
    width: 40%;
    /*background-color: #01285e;*/
    justify-content: center;
}

/*#LeftNextBtn{*/
/*    position: absolute;*/
/*    width: 100px;*/
/*    height: 40px;*/
/*    background-color: #bdd5ee;*/
/*    border: 2px solid #003e8c;*/
/*    color: #003e8c;*/
/*    font-size: 15px;*/
/*    bottom: 5%;*/
/*    left: 22%;*/
/*}*/

.StepsRoadMapStatus{
    position: relative;
    width: 100%;
    color: #012f64;
    font-size: 16px;
    /*border: 1px solid #003e8c*/
}

.statusLabel{
    position: absolute;
    width: 100%;
    height: 20px;
    top: 70%;
    text-align: center;
    margin-top: 5px;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.statusCircle{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40%;
    border-radius: 50%;
    background-color: #86be93;
    border: 3px solid #01285e;
    margin-left: 40%;
}

.statusCircleEmpty{
    position: absolute;
    width: 20px;
    height: 20px;
    top: 40%;
    border-radius: 50%;
    background-color: #eeb4b4;
    border: 3px solid #01285e;
    margin-left: 40%;
}

.inputTable{
    position: relative;
    width: 50%;
    margin-top: -20%;

}

.inputTable td{
    /*border: 1px solid black;*/
    /*width: 30px;*/
    text-align: left;
    /*height: 30px;*/
    margin-left: 50px;
}

#createGridButton {
    position: relative;
    width: 15%;
    height: 35px;
    margin-left: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
    visibility: hidden;

}

.characterInputTable{
    position: relative;
    width: 80%;
    top: 10%;
    left: 10%;
    justify-self: center;
    /*border: 1px solid #003e8c;*/
    /*background-color: #dde7f1;*/
}

.characterInputTable td{
    border: 2px solid #01285e;
    width: 40px;
    text-align: center;
    height: 40px;
    border-radius: 25%;
    background-color: #01285e;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.crosswordCreatedGridRight {
    /*background-color: #e5ecf8;*/
    height: 100%;
    width: 49.8%;
    position: fixed;
    right: 0;
    top: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.manualCrosswordGrid {
    /*background-color: #e5ecf8;*/
    position: relative;
    border: 1px solid #01285e;
}

.crosswordGridCellNorm {
    border: 1px solid black;
    width: 30px;
    text-align: center;
    height: 30px;
}

.crosswordGridCellBlock {
    border: 1px solid black;
    width: 35px;
    height: 35px;
    text-align: center;
    background-color: #333333;
}

#finalizeButton {
    margin-top: 10px;
}

.gridCellDiv {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#currentActiveCharDiv{
    position: relative;
    /*background-color: #e8c45f;*/
    width: 80% ;
    left: 10%;
    margin-top: 10%;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    height: 40px;
    vertical-align: middle;
    font-size: 20px;
    color: #01285e;
    font-weight: bold;
}

#displayCurrentActiveCharDiv {
    position: relative;
    width: 20px;
    height: 20px;
    /*background-color: #333333;*/
    letter-spacing: -0.2px;
    margin-left: 10px;
}

#displayCurrentActiveCharDivBlock {
    position: relative;
    top: -5px;
    width: 25px;
    height: 25px;
    background-color: #333333;
    letter-spacing: -0.2px;
    margin-left: 10px;
    border-radius: 10%;
}

.LeftInputMainDivStep3{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 30%;
    text-align: center;
    justify-content: center;
    vertical-align: center;
        /*background-color: #0f5132;*/
}

.LeftInputMainDiv{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 450px;
    height: 400px;
    /*background-color: #fff;*/
    /*border: 1px solid #ccc;*/
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 18px;
}

.LeftInputMainSubDiv{
    margin-top: 80px;
    width: 100%;
    height: 10%;
}

.LeftInputMainSubDiv label{
    width: 90px;
    float: left;
    background-color: #01285e;
    /*box-shadow:  inset 2px 2px 5px #BABECC, inset -2px -2px 5px #01285e;*/
    padding: 16px;
    /* text-shadow: 1px 1px 0 #FFF; */
    color: white;
    border: 2px solid #ccc;
    /* font-weight: bold; */
    border-radius: 10px;

}

.LeftInputMainSubDiv input, textarea{
    float: right;
    width: 250px;
    box-shadow:  inset 1px 1px 4px #BABECC, inset -2px -2px 5px #FFF;
    border-radius: 10px;
    padding: 16px;
    text-shadow: 1px 1px 0 #FFF;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    font-size: 18px;
    border: 1px solid #ccc;
}

.LeftInputMainSubDiv input:focus, textarea:focus{
    outline: none;
    border: 1px solid #ccc;
}

.LeftInputMainSubDiv button{
    position : fixed;
    width: 420px;
    height: 40px;
    background-color: #01285e;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    cursor: pointer;
    margin-top: 50px;
}

.LeftInputMainSubDiv button:hover{

}

#LeftNextBtnClues{
    position: fixed;
    left: 10%;
}

#fillClues{
    width: 100%;
    display: flex;
    background-color: transparent;
}

#LeftNextBtnCluesStep3{
    position: relative;
    margin-top: 20px;
    width: 60%;
    height: 40px;
    background-color: #01285e;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.fillCluesColumn{
    width: 50%;
    height: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    /*border: 2px solid #003e8c;*/
    border-radius: 10px;
    /*background-color: #fff;*/
    justify-items: center;
    /*box-shadow: inset 2px 2px 5px ##033ab1, inset -2px -2px  5px #8493cb;*/
}

.fillCluesColumnHeading{
    margin-top: 10px;
    width: 90%;
    height: 30px;
    text-align: center;
    padding: 5%;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #01285e;
    color: #fff;
    box-shadow: inset 2px 2px 5px #033ab1, inset -5px -5px 10px #01285e;
}

.fillCluesColumnClue{
    width: 80%;
    height: 10%;
    margin-right: 5%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    letter-spacing: -0.2px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    /*background-color: #fff;*/
    color: #01285e;
    box-shadow:  inset 2px 2px 5px #BABECC, inset -5px -5px 10px #FFF;
    justify-items: center;
}


#LeftNextBtnSetClues{
    position: relative;
    margin-top: 20px;
    left: 100px;
    width: 420px;
    height: 40px;
    background-color: #01285e;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.2px;
    cursor: pointer;
    justify-self: center;
}

.LeftInputSuperMainDiv{
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rebeccapurple;*/
}

.titleBar{
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01285e;
    font-size: 23px;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}


.message{
    position: fixed;
    width: 30%;
    height: 5%;
    top: 0;
    left: 35%;
    /*background-color: #9fd7bc;*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid #055d31;*/
    border-radius: 3px;
}

.messageText{
    position: relative;
    text-align: center;
    justify-content: center;
    /*color: #055d31;*/
    font-weight: bold;
    align-items: center;
}

.messageBtn{
    position: absolute;
    right: 0;
}

.messageBtn:hover{

}

.errorMessage{
    border: 1px solid #620101;
    background-color: #f2d2d2;
    color: #620101;
}

.successMessage{
    border: 1px solid #055d31;
    background-color: #9fd7bc;
    color: #055d31;
}

.afterMessage{
    position: absolute;
    top: 30%;
    left: 10%;
    width: 25%;
    color: #003e8c;
    font-size: 22px;
    font-weight: bold;
}

.afterMessageDiv{
    margin-bottom: 15%;
}

.afterMessageDiv button{
    float: right;
    width: 100px;
    background-color: #01285e;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    box-shadow: 0 4px #999;

}
