<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webpage2</title>
    <link rel="stylesheet" type="text/css" href="web2.css">

</head>
<body>
   
    <div class="cover">
      
        <div class="box">
            <img src="background.jpg" >
            <h2 class="new">STEP:1</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores harum magnam quos dolorum facere iste fuga sapiente necessitatibus provident molestias. Itaque aut illum corporis ducimus debitis maiores. Sint, quasi soluta.</p>
        </div>
        <div class="box">
            <img src="bg.jpg" >
            <h2 class="new">STEP:2</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, error excepturi? Iusto repellendus consectetur necessitatibus beatae porro non ratione, error, expedita voluptatum ipsa ducimus ab inventore perspiciatis nulla voluptatibus temporibus.</p>
        </div>
        <div class="box">
            <img src="background2.jpg" >
            <h2 class="new">STEP:3</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fugit doloremque dolorum qui fuga quisquam veritatis libero vel dolores, facilis voluptate consequuntur? Qui, blanditiis harum. Necessitatibus delectus amet reiciendis aspernatur.</p>
        </div>
        <div class="box">
            <img src="background2.jpg" >
            <h2 class="new">STEP:4</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus fugit doloremque dolorum qui fuga quisquam veritatis libero vel dolores, facilis voluptate consequuntur? Qui, blanditiis harum. Necessitatibus delectus amet reiciendis aspernatur.</p>
        </div>
            <button class="btn5"><a  style="text-decoration:none" href="webpage1.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Back&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></button>

           

    </div>
</body>
</html>