<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorialpage</title>
    <link rel="stylesheet" href="web.css">
</head>
<body>
    
    <div class="content" >
       
        <div class="vertical-center">
            <h1>CROSSWORD TUTORIAL</h1>
          </div>
            <button class="btn1" ><a style="text-decoration:none" href="webpage2.html">CROSSWORD CREATOR</a></button>
          
            <button class="btn2"><a  style="text-decoration:none" href="webpage3.html">CROSSWORD SOLVER</a></button>
            <button class="btn3"><a style="text-decoration: none" href="">&laquo;BACK</a></button>
    </div>
</body>
</html>

