{% load custom_filters %}
{% load static %}

<div>
    <link rel="stylesheet" href="{% static 'crosswordCreationManual/style.css' %}">
    <div class="verticalLine"></div>
{#    <h1> Create New Crossword</h1>#}
    <div class="crosswordCreateInputLeft">
        {% if activeStep > 1 and activeStep < 5 %}
            <button id="RoadMapBackBtn" unicorn:click="roadMapBack">Back</button>
        {% elif activeStep == 1 %}
            <button id="RoadMapBackBtn" onclick="window.location.href='/home'">Home</button>
        {% endif %}
        <div class="StepsRoadMap">
            <div class="horizontalLine"></div>
            <div class="StepsRoadMapStatus">
                 <div class="statusCircle{{ roadMapStatusLabel1 }}"></div>
                 <div class="statusLabel"> Title and Description</div>
            </div>
            <div class="StepsRoadMapStatus">
                <div class="statusCircle{{ roadMapStatusLabel2 }}"></div>
                <div class="statusLabel"> Generate Grid</div>
            </div>
            <div class="StepsRoadMapStatus">
                 <div class="statusCircle{{ roadMapStatusLabel3 }}"></div>
                <div class="statusLabel"> Fill Grid</div>
            </div>
            <div class="StepsRoadMapStatus">
                 <div class="statusCircle{{ roadMapStatusLabel4 }}"></div>
                <div class="statusLabel"> Enter clues</div>
            </div>
{#            <div class="StepsRoadMapStatus">#}
{#                <div class="statusCircle{{ roadMapStatusLabel5 }}"></div>#}
{#                <div class="statusLabel"> Save</div>#}
{#            </div>#}
        </div>
        <div id="horizontalLineLeftDiff"></div>
        {% if activeStep == 1 %}
            <div class="LeftInputMainDiv">
                <div class="LeftInputMainSubDiv">
                    <label id="enterTitleLabel"> Title:</label>
                    <input unicorn:model="title" type="text" placeholder="title" maxlength="50"/>
                </div>
                <div class="LeftInputMainSubDiv">
                    <label> Description:</label>
                    <textarea unicorn:model="description" type="text" placeholder="description" rows="5" cols="20" maxlength="300"></textarea>
                </div>
                <div class="LeftInputMainSubDiv">
                    <button id="LeftNextBtn" unicorn:click="incrementStep">Next</button>
                </div>
            </div>
        {% elif activeStep == 2 %}
             <div class="LeftInputMainDiv">
                <div class="LeftInputMainSubDiv">
                    <label> Rows:</label>
                            <input unicorn:model="rows" type="number" placeholder="rows" min="1" max="20"/>
                        </div>
                        <div class="LeftInputMainSubDiv">
                            <label> Columns:</label>
                            <input unicorn:model="cols" type="number" placeholder="columns" min="1" max="20"/>
                        </div>
                     <div class="LeftInputMainSubDiv">
                        <button id="LeftNextBtn" unicorn:click="createGrid">Next</button>
                    </div>

            </div>
        {% elif activeStep == 3 %}
            <div class="LeftInputMainDivStep3">
                <table class="characterInputTable">
                    {% with divisor=7 %}
                    <tr>
                    {% for char in characters %}
                        {% if char == '_' %}
                            <td  unicorn:click="setActiveChar('{{ char }}')"  style="background-color: #333333">
                                <div >
                                    {{ char }}
                                </div>
                            </td>
                        {% else %}
                            <td unicorn:click="setActiveChar('{{ char }}')" >
                                <div >
                                    {{ char }}
                                </div>
                            </td>
                        {% endif %}
                        {%  if forloop.counter0 != 0 and forloop.counter0|mod:divisor == 0 %}
                            </tr>
                            <tr>
                        {% endif %}
                    {% endfor %}
                    {% endwith %}
                    </tr>
                </table>
                <div id="currentActiveCharDiv">
                    Active character:
                    {% if activeChar == '_' %}
                        <div id="displayCurrentActiveCharDivBlock"></div>
                    {% else %}
                        <div id="displayCurrentActiveCharDiv">{{ activeChar }}</div>
                    {% endif %}
                </div>
                <button id="LeftNextBtnCluesStep3" unicorn:click="getWordOrient">Next</button>
            </div>
        {% elif activeStep == 4 %}
            <div class="LeftInputSuperMainDivStep4">
                <div id="fillClues">
                    <div class="fillCluesColumn">
                        <div class="fillCluesColumnHeading">
                            Horizontal
                        </div>
                        {% for word in wordsHorizontal %}
                            <textarea placeholder="Clue for word {{ word }}" class="fillCluesColumnClue" unicorn:model="horClue{{ forloop.counter }}" ></textarea>
{#                                                                                                          unicorn:model="description"#}
                        {% endfor %}
                    </div>
                    <div class="fillCluesColumn">
                         <div class="fillCluesColumnHeading">
                            Vertical
                        </div>
                        {% for word in wordsVertical %}
                            <textarea placeholder="Clue for word {{ word }}" class="fillCluesColumnClue" unicorn:model="verClue{{ forloop.counter }}"></textarea>
                        {% endfor %}
                    </div>
                    <br>
                </div>
                    <button unicorn:click="getClues" id="LeftNextBtnSetClues">Save</button>
            </div>
        {% else %}
            <div class="afterMessage">
                <div class="afterMessageDiv">
                    Go to home Page: <button class="goHomeBtn" u:click="goHome">Home</button>
                </div>
                <div class="afterMessageDiv">
                    Create another crossword: <button class="createAnotherBtn" u:click="createAnother">Create</button>
                </div>
            </div>
        {% endif %}

        </div>

    <div class="crosswordCreatedGridRight">
        <div class="titleBar">{{ currentStep }}</div>

        <table class="manualCrosswordGrid">
            {%  for row in grid %}
                <tr>
                    {% for col in row %}
                        {%  if col == '_' %}
                        <td class="crosswordGridCellBlock">
                            <div unicorn:click="cellClicked(({{forloop.parentloop.counter0}}, {{forloop.counter0 }}))" class="gridCellDiv">
                                {{ col }}
                            </div>
                        </td>
                        {%  else %}
                            <td class="crosswordGridCellNorm">
                                <div unicorn:click="cellClicked(({{forloop.parentloop.counter0}}, {{forloop.counter0 }}))" class="gridCellDiv">
                                    {{ col }}
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if displayMessage == "yes" %}
        <div class="message {{ message_type }}">
            <p class="messageText">{{ message_content }}</p>
            <button class="messageBtn" unicorn:click="hideMessage"> X </button>
        </div>
    {% endif %}

</div>
