<div>

    <div class="mainDiv">
        <div class="upperDiv">
            <div class="upperDivLeft">
                <div class="upperDivLeftText">
                    {{ title}}
                </div>
            </div>
            <div class="upperDivRight">
                {% if status != 'solved' %}
                <div id="timerId" class="upperDivRightText" >Timer: <label id="minutes">00</label>:<label id="seconds">00</label></div>
                {% endif %}
                <div class="upperDivRightText">Attempt: {{ attemptNumber }}</div>
                <div class="upperDivRightText"> {{ username }}</div>
            </div>
        </div>
        <div id="mainVerticalLine"></div>
        <div class="lowerDiv">

            <div class="lowerDivLeft">
                {% if status == "presolve" %}
                    <div class="startDiv">
                        <div class="startDivText">Ready! Click to Start</div>
                        <button class="startDivButton" unicorn:click="beginSolving">Start</button>
                    </div>
                {% elif status == "unsolved" %}
                    <div class="lowerDivLeftHorClues">
                        <div class="lowerDivLeftHorCluesTitle">Horizontal Clues</div>
                        <div class="lowerDivLeftHorCluesTitleTextDiv">
                            {% for len, key, clue in cluesHor %}
                                <div class="cluesInputDiv">
                                    <div class="lowerDivLeftHorCluesText">{{ forloop.counter }}.) {{ clue }} </div>
                                    <input unicorn:model="HorAnswer{{ forloop.counter }}" class="cluesInput" maxlength="{{ len }}" id="AnswerInputHor{{ forloop.counter }}" unicorn:partial.id="loweDivRight"s>
                                </div>
                            {% endfor %}
                        </div>

                    </div>
                    <div class="lowerDivLeftVerClues">
                        <div class="lowerDivLeftHorCluesTitle">Vertical Clues</div>
                        <div class="lowerDivLeftHorCluesTitleTextDiv">
                            {% for len, key, clue in cluesVer %}
                                <div class="cluesInputDiv">
                                    <div class="lowerDivLeftHorCluesText">{{ forloop.counter }}.) {{ clue }}</div>
                                    <input unicorn:model="VerAnswer{{ forloop.counter }}" class="cluesInput" maxlength="{{ len }}" unicorn:partial.id="loweDivRight">
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% else %}
                    <div class="successDiv">
                        <p class="successDivTitle">Solved Correctly</p>
                        <p>Attempts taken: {{ attemptNumber }} </p>
                        <p>Time Taken: {{ timeElapsed }}</p>
                        <p>Rate the puzzle: </p>
                        <div class="rating">
                            <span u:click="clickedStar1" class="star{{ star1status }}">★</span>
                            <span u:click="clickedStar2" class="star{{ star2status }}">★</span>
                            <span u:click="clickedStar3" class="star{{ star3status }}">★</span>
                            <span u:click="clickedStar4" class="star{{ star4status }}">★</span>
                            <span u:click="clickedStar5" class="star{{ star5status }}">★</span>
{#                            <div >Rating selected: {{ starsGiven }}</div>#}
                            <br>
                            <br>
                            <button class="ratingSubmitButton" unicorn:click="updateRating">Submit Rating</button>
                            <button class="HomeSubmitButton" unicorn:click="goHome">Home</button>
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="lowerDivRight" id="loweDivRight">
                <div class="crosswordGrid">
                    <table class="manualCrosswordGrid">
                        {%  for row in current_grid %}
                            <tr>
                                {% for col,type, ind in row %}
                                    {%  if col == '_' %}
                                    <td class="crosswordGridCellBlock">
                                        <div unicorn:click="cellClicked(({{forloop.parentloop.counter0}}, {{forloop.counter0 }}))" class="gridCellDiv">
                                            {{ col }}
                                        </div>
                                    </td>
                                    {%  else %}
                                        <td class="crosswordGridCellNorm Cell{{ status }}">
                                            <div unicorn:click="cellClicked(({{forloop.parentloop.counter0}}, {{forloop.counter0 }}))" class="gridCellDiv">
                                                {% if type != 'b' and type != 'v' and type != 'h' and type != 'o' %}
                                                    <div class="tableCellUpperLeft">
                                                        {{ type }}
                                                    </div>
                                                    <div class="tableCellUpperRight">
                                                        {{ ind }}
                                                    </div>
                                                {% elif type == 'v' %}
                                                    <div class="tableCellUpperRight">
                                                        {{ ind }}
                                                    </div>
                                                {% elif type == 'h' %}
                                                    <div class="tableCellUpperLeft">
                                                        {{ ind }}
                                                    </div>
                                                {% endif %}
                                                <div class="tableCellText">
                                                    {{ col }}
                                                </div>
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>
                {% if status != 'solved' %}
                    <div class="submitButtonDiv">
                        <button unicorn:click="submitClicked" class="submitButton">Submit</button>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
    {% if displayMessage == "yes" %}
        <div class="message {{ message_type }}">
            <p class="messageText">{{ message_content }}</p>
            <button class="messageBtn" unicorn:click="hideMessage"> X </button>
        </div>
    {% endif %}
</div>
