@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    background: #a1c4fd;
}
/* ---------------------------------------------------
    footer
----------------------------------------------------- */

.white-section {
    text-align: center;
    background-color: #a1c4fd;
    padding: 20px;

}

.social-icon {
    margin: 20px 10px;
}


/* ---------------------------------------------------
    New SideBar
----------------------------------------------------- */


#sidebar {
    background-color: #1f2a37;
    color: #fff;
    width: 265px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    transition: width 0.5s;
    background-color: #01285e;
}

#sidebar.collapsed {
    width: 50px;
    background-color: #01285e;
}

#sidebar .list-group .list-group-item .sidebar-heading {

    font-size: 25px;
    font-weight: 800;
}

#sidebar .list-group .list-group-item img {
    margin-right: 5px;
    margin-left: -10px;
    /* padding-right: 50px; */
    width: 30px;
    height: 30px;
}

#sidebar .list-group {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar .list-group-item {
    display: flex;
    align-items: center;
    border: none;
    background-color: #01285e;
}

#sidebar .list-group-item a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 9px;
    white-space: nowrap;
    /* padding-left: 20px; */
    padding-right: 200px;
}

#sidebar .list-group-item i {
    margin-right: 10px;
}

#sidebar .list-group .menu-buttons {
    margin-right: 5%;
    margin-left: 5%;
}

#sidebar .sidebar-text {
    padding-left: 10px;
    font-weight: 600;
}


#sidebar .list-group-item:hover {
    background-color: #205195;
}

#sidebar .list-group-item.logout {
    margin-top: auto;
}

#sidebar .list-group-item.logout button {
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar .list-group-item.logout button:hover {
    background-color: #fff;
    color: #1f2a37;
}

#sidebar .list-group-item.logout a {
    margin-top: 10px;
    margin-bottom: 10px;
}

#sidebar .list-group-item.logout a:hover {
    color: #fff;
}

#login-button:hover {
    background-color: darkgrey !important;
    color: black !important;
    border: darkgrey !important;
}

#sidebar .collapse-item {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#sidebar .collapse-item a {
    padding-left: 40px;
}

#sidebar .collapse-item i {
    position: absolute;
    left: 15px;

}

#sidebar .list-group-item:not(:hover) {
    background-color: #01285e;
}

#login-button:not(:hover) {
    background-color: #fff !important;
    color: black !important;
    border: #fff !important;
}

#sidebar .sidebar-text {
    transition: opacity 0.2s;
    margin-left: 10px;
}

#sidebar .sidebar-heading {
    transition: opacity 0.2s;
    margin-left: 10px;
}

#sidebar.collapsed .sidebar-text {
    opacity: 0;
}

#sidebar.collapsed .sidebar-heading {
    opacity: 0;
}

#sidebar.collapsed .list-group-item a {
    padding: 15px 0;
}

#sidebar.collapsed .list-group-item i {
    margin: 0 auto;
    display: block;
    font-size: 24px;
}

#sidebar.collapsed .collapse-item i {
    margin-left: 5px;
}

#sidebar.collapsed .collapse-item .sidebar-text {
    display: none;
}

#sidebar.collapsed .collapse-item .sidebar-heading {
    display: none;
}

#sidebar.collapsed .list-group-item img {
    margin: 0 auto;
    margin-left: -8px;
    display: block;
    font-size: 24px;
    width: 30px;
    height: 30px;
}

#sidebar.collapsed .menu-buttons {
    display: none;
}

#sidebar .collapse-icon {
    transition: transform 0.5s;
}

#sidebar.collapsed .collapse-icon {
    transform: rotate(180deg);
}

/* content manuipulation */
#content.style {
    margin-top: -20px;
    margin-left: 280px;
    margin-bottom: 50px;
    /* display: flex; */
}

#img_btn {
    margin-left: -50px;
    align-items: center;
}

#word.style_word {
    margin-left: 555px;
    margin-top: -510px;
    margin-bottom: 50px;
    /* font-size: 22; */
}

#button.style_button {
    margin-left: 703px;
    margin-top: 15px;
}

#imgg {
    height: 600px;
    width: 600px;
}


.text-div {
    text-align: center;
    color: #01285e
}

#word {
    font-size: 30px;
}

.solve {
    margin-bottom: 20px !important;
    width: 425px !important;
}

.a-create {
    margin-bottom: 20px !important;
    width: 425px !important;
}

.m-create {
    margin-bottom: 20px !important;
    width: 425px !important;
}

.solve:not(:hover) {
    background-color: #fff !important;
    color: black !important;
    border: #fff !important;
}

.solve:hover {
    background-color:darkgrey !important;
    color: black !important;
    border: darkgrey !important;
}

.a-create:not(:hover) {
    background-color: #fff !important;
    color: black !important;
    border: #fff !important;
}

.a-create:hover {
    background-color:darkgrey !important;
    color: black !important;
    border: darkgrey !important;
}

.m-create:not(:hover) {
    background-color: #fff !important;
    color: black !important;
    border: #fff !important;
}

.m-create:hover {
    background-color:darkgrey !important;
    color: black !important;
    border: darkgrey !important;
}

.login-solve-create {
    font-size: 37px;
}

.automatic-creation {
    font-size: 35px;
}

 .burger {
    display: none;
    position: absolute;
    cursor: pointer;
    left: 5%;
    top: 15px;
    margin-bottom: 20px;
}

.line {
    width: 30px;
    margin: 4px 16px;
    height: 4px;
    background-color: white;
}

/* Meida Query */

@media (max-width: 700px) {
    .burger {
        display: block;
        margin-left: -10px;
    }

    /* .burger:hover{
        color: #01285e;
    } */

    #sidebar {
        width: 50px;
    }

    .vclass {
        opacity: 0;
    }

    #imgg {
        margin-top: 0px;
        margin-left: -223px;
        height: auto;
        width: auto;
    }

    .margindir{
        margin-top: 500px;
    }
    #word.style_word {
        margin-left: -163px;
        width: 490px;
    }
    #button.style_button {
        margin-left: -135px;
        grid-column: auto;
    }
    .marginb{
        margin-top: 20px;
    }

} 


@media (min-width:700px) and (max-width: 1080px) {
    .burger {
        display: block;
        margin-left: -10px;
    }
    #sidebar {
        width: 50px;
    }

    .vclass {
        opacity: 0;
    }
    .marginb{
        margin-top: 20px;
    }
    #imgg {
        margin-top: 0px;
        margin-left: 0px;
        height: auto;
        width: auto;
    }

    .margindir{
        margin-top: 500px;
    }
    #word.style_word {
        margin-left: 10px;
        width: 590px;
    }
    #button.style_button {
        margin-left: 85px;
        grid-column: auto;
    }
}